@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    border: 3px dashed orange;
}

body {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.orange-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #ff7500;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}


.orange-button:hover {
    background-color: #db7d2a;
    color: white;
}

a {
    text-decoration: none;
}


a:hover {
    transition: all 0.2s;
    color: #ff7500;
}

ul {
    list-style: none;
}

.book-img {
    border-radius: 10px;
    box-shadow: 25px 25px rgba(255, 117, 0, 0.6);

}

.hero-img {
    position: absolute;
    left: 650px;
}

.hero-button {
    margin-bottom: 78px;
}

.line {
    width: 80px;
    height: 3px;
    background-color: #ff7500;
    margin-bottom: 40px;
}

.why-line {
    width: 80px;
    height: 3px;
    margin-top: 147px;
    background-color: #ff7500;
}

nav a {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

nav a:hover {
    color: rgba(0, 0, 0, 1);
    text-decoration: underline 3px #ff7500;
}

/* Header */

.header {
    padding-top: 16px;
    padding-bottom: 16px;
}

.header-line {
    width: 100%;
    height: 5px;
    background-color: rgba(255, 117, 0, 1);
    margin-bottom: 10px;
    margin-top: -16px;
}

.navbar-wrapper {
    display: flex;
    align-items: center;
    gap: 32Px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-links {
    display: flex;
    gap: 32px;
}

.header-link {
    color: #000000;
}

/* HERO */
.hero {
    background-color: #252420;
    color: white;
    padding-top: 80px;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.hero-content {
    max-width: 387px;
}

.hero-title {
    font-weight: bold;
    font-size: 40px;
    font-family: "Roboto Condensed";
    margin-bottom: 24px;
    line-height: 120%;
    letter-spacing: 0.5px;
    color: #FFFFFF;

}

.hero-text {
    margin-bottom: 32px;
}

/* Why */
.why {
    /* padding-top: 236px; */
    padding-bottom: 330px;
}

.title {
    margin-bottom: 72px;
    font-family: "Roboto Condensed";
    font-size: 72px;
    line-height: 150px;

}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #FFE3CC;
    border-radius: 50%;
    margin-bottom: 32px;
}

/* Cards */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.card {
    width: 100%;
    max-width: 340px;
}

.card p {
    max-width: 314px;
}

.card-title {
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 120px;
    font-family: "Roboto Condensed";
}

/* CTA */
.cta {
    background-color: #252420;
    color: white;
    padding: 64px;
    margin-bottom: 160px;
    border-radius: 10px;
}

.cta-container {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.cta-content {
    width: 100%;
    max-width: 440px;
}

.cta-title {
    margin-top: 24px;
    font-size: 40px;
    line-height: 120%;
    font-family: "Roboto Condensed";
    margin-bottom: 30px;

}

.cta-text {
    margin-top: 12px;
    margin-bottom: 24px;
}

.cta-img {
    position: absolute;
    left: 596px;
    top: -150px;
}

.cta-books {
    border-radius: 12px;
}

.orange-text {
    color: #ff7500;
}

/* Footer */
.footer {
    padding-top: 56px;
    padding-bottom: 56px;
    background-color: #F8F8F8;
    font-family: "Roboto";
}

.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
}

.socials {
    display: flex;
    gap: 16px;
}

.footer-bottom {
    display: flex;
    gap: 46px;
    justify-content: space-between;
    padding-top: 64px;
}

.footer-links-wrapper {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.footer-link {
    color: #252420;
}


@media (max-width: 1332px) {
    .hero-img {
        /* display: flex; */
        position: absolute;
        left: 450px;
    }

    .cta-img {
        position: absolute;
        left: 456px;
        top: -150px;

    }
}

@media (max-width: 962px) {
    .cta-container {
        display: flex;
        top: 0;
        left: 0;
        flex-direction: column;
    }
}

@media (max-width: 993px) {
    .hero-container {
        display: block;
    }

    .hero-img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}



@media (max-width: 942px) {
    .navbar-wrapper {
        display: none;
    }
}

@media (min-width: 942px) {
    .menu {
        display: none;
        font-size: 20px;
    }
}

@media (max-width: 942px) {
    .menu {
        font-size: 30px;
    }

    .cta-container {
        display: block;
    }

    .cta-img img {
        width: 340px;

    }

    .cta-img {
        position: relative;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        padding: 20px;
    }

    .cta {
        margin: 4px;
        padding: 4px;
        margin-bottom: 10px;
        border-radius: 10px;
    }
}


@media (max-width: 726px) {
    .footer-bottom {
        padding-top: 64px;
    }

    .foot-none {
        display: none;
    }
}

@media (min-width: 726px) {
    .footer-bottom i {
        display: none;
    }


}

@media (max-width: 712px) {
    .footer-bottom {
        flex-wrap: wrap;
    }

    .book-img {
        width: 400px;
    }
}

@media (max-width: 469px) {

    .book-img {
        width: 250px;
    }

    .why h1 {
        font-size: 30px;
        line-height: 120%;

    }


}